1. При открытии двери холодильника включается освещение.
2. При закрытии двери холодильника выключается освещение.
3. Если дверь холодильника открыта, то не более, чем через OPEN_DOOR_TIME_LIMIT миллисекунд, подается сигнал, если за это время пользователь не закроет дверь.
4. Если дверь холодильника только что открыта, сигнал будет подан не менее, чем через OPEN_DOOR_TIME_LIMIT миллисекунд.
5. Если температура в холодильнике превышает максимальную, включается  компрессор.